
<md-dialog aria-label="Mango (Fruit)" flex="{{sessionobject.flex_dialog}}" flex-sm="100">
    <md-toolbar md-theme="{{triSkin.elements.content}}">
        <div class="md-toolbar-tools">
            <h2>
                <span>{{'MENU.propertyfurnished.DIALOG.NEW'| translate}}     </span>
            </h2>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-dialog-content class="sticky-container">
        <div> 
           <form name="propertyfurnishedfrom" novalidate>
                
 <md-input-container class="md-block">
                    <label>{{'MENU.propertyfurnished.DIALOG.name'| translate}}</label>
                    <input ng-model="pmspropertyfurnished.name" class="dialog-close" name="name" 
                           id="name" type="text" required> 
                    <div ng-messages="propertyfurnishedfrom.name.$error">
                         <div ng-message="required">
                            {{'MENU.propertyfurnished.DIALOG.propertyfurnishedform.PLEASE_name_required'| translate}}
                        </div>
                    </div>
                </md-input-container>
 <md-input-container ng-show="false" class="md-block">
                    <label>{{'MENU.propertyfurnished.DIALOG.recordorder'| translate}}</label>
                    <input ng-model="pmspropertyfurnished.recordorder" class="dialog-close" name="recordorder" 
                           id="recordorder" type="text" required> 
                    <div ng-messages="propertyfurnishedfrom.recordorder.$error">
                         <div ng-message="required">
                            {{'MENU.propertyfurnished.DIALOG.propertyfurnishedform.PLEASE_recordorder_required'| translate}}
                        </div>
                    </div>
                </md-input-container>
            </form>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()" class="md-primary">
            Cancel
        </md-button>
        <md-button ng-click="hide()" class="md-primary" ng-disabled="propertyfurnishedfrom.$invalid">
            Ok
        </md-button>
    </div>
</md-dialog>
